@use "../global" as g;
.header {
  max-width: 1300px;
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  &-inner {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  &-nav {
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-left: 24px;
      a {
        font-weight: 600;
        letter-spacing: 0.08em;
      }
      &:last-child {
        background-color: g.$color-btn;
        border-radius: 10px;
        color: #fff;
        padding: 15px;
      }
    }
  }
}