@use "../../global" as g;

.p-money {
  &__inner {
    padding: 65px 140px 100px 140px;
  }
  &-desc {
    font-weight: bold;
    line-height: 33px;
    letter-spacing: 1px;
    text-align: center;
  }
  &-cards {
    background-color: g.$color-bg;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
    padding: 35px;
    &-card {
      width: 530px;
      height: 480px;
      background-image: url(../images/money-card-bg.png);
      background-color: rgba(255, 255, 255, 0.8);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;
      padding: 50px 35px;
      &__heading {
        color: g.$color-heading;
        font-size: 1.5rem;
        font-weight: 700;
      }
      &__content {
        &__box {
          padding-top: 35px;
        }
        &__heading {
          font-weight: bold;
        }
        &__textBox {
          padding-top: 20px;
          letter-spacing: 2px;
          line-height: 33px;
        }
      }
    }
  }
  &-caution {
    padding-top: 35px;
    &__heading {
      font-size: 0.875em;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
    p {
      font-size: 0.875em;
      letter-spacing: 1.5px;
      line-height: 29.4px;
      margin-top: 20px;
    }
  }
}