@use "../../global" as g;
.c-banner-contact {
  &-inner {
    background-image: url(../images/cta-back.png);
    background-size: cover;
    background-position-y: 40px;
    padding: 0 150px;
    padding-top: 150px;
  }
  &-block {
    max-width: 1160px;
    margin: 0 auto;
    &__img {
      width: 150px;
      background-color: #DFEDD0;
      border-radius: 50%;
      padding: 40px;
      margin: 0 auto;
      margin-bottom: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
      }
    }
    &-body {
      background-color: g.$color-primary;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 50px;
      padding-top: 100px;
      text-align: center;
      &__phoneNumber {
        p {
          font-weight: bold;
          letter-spacing: 2px;
          margin-top: 35px;
          &:first-child {
            margin-top: 0;
          }
        }
        &__desc {
          font-size: 1.25rem;
          letter-spacing: 1.6px;
          align-items: center;
          display: flex;
          justify-content: center;
          &::before,
          &::after {
            background-color: g.$color-text;
            content: "";
            height: 1px; /* 線の高さ */
            width: 20px; /* 線の長さ */
          }
          &::before {
            margin-right: 5px; /* 文字との余白 */
            transform: rotate(60deg); /* 傾ける */
          }
          &::after {
            margin-left: 5px; /* 文字との余白 */
            transform: rotate(-60deg); /* 傾ける */
          }
        }
        &__number {
          color: g.$color-btn;
          font-size: 40px;
        }
        &__text {
          font-size: 0.875rem;
          line-height: 33px;
        }
      }
      &__email {
        margin: 0 auto;
        margin-top: 35px;
      }
    }
  }
}