@use "../../global" as g;
.c-heading {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 20px;
  text-align: center;
}
.c-sub-heading {
  color: g.$color-heading;
  font-size: 1.5em;
  font-weight: bold;
}