@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-body {
  color: #2E2E2E;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
}

.l-wrapper {
  width: 100%;
  background-color: #F5F4EA;
}
.l-wrapper img {
  width: 100%;
}

.header {
  max-width: 1300px;
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.header-inner {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__item {
  margin-left: 24px;
}
.header-nav__item a {
  font-weight: 600;
  letter-spacing: 0.08em;
}
.header-nav__item:last-child {
  background-color: #E37940;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
}

.footer {
  padding-top: 150px;
}
.footer-inner {
  background-color: #338751;
  padding: 85px 140px 65px 140px;
}
.footer-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav__item {
  color: #FFFFFF;
}
.footer-nav__item a {
  font-weight: 700;
  letter-spacing: 0.08em;
}
.footer-nav span {
  color: #FFFFFF;
  display: inline-block;
  margin: 0 25px;
}
.footer-info__inner {
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}
.footer-info-logo__address {
  color: #FFFFFF;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  line-height: 27.6px;
  padding-top: 30px;
}
.footer-info-body__phoneNumber {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.footer-info-body__phoneNumber__img {
  max-width: 40px;
  height: auto;
}
.footer-info-body__phoneNumber__text {
  letter-spacing: 0.1em;
}
.footer-info-body__phoneNumber__text p {
  line-height: 30px;
  margin-left: 30px;
}
.footer-info-body__phoneNumber__text p:first-child {
  font-weight: bold;
}
.footer-info-body__phoneNumber__text p:last-child {
  font-size: 0.75rem;
}
.footer-info-body__phoneNumber__text p span {
  color: #E37940;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: 600;
}
.footer-copyright {
  color: #FFFFFF;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 70px;
}

.l-main {
  padding-top: 150px;
}

.l-section {
  background-color: #DFEDD0;
  margin: 0 auto;
  margin-top: 150px;
}

.l-inner {
  margin: 0 auto;
}

.c-heading {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-top: 20px;
  text-align: center;
}

.c-sub-heading {
  color: #338751;
  font-size: 1.5em;
  font-weight: bold;
}

.c-page-head {
  width: 100%;
  margin-top: -40px;
  text-align: center;
}
.c-page-head-inner {
  height: 475px;
  background-image: url(../images/head-bg.png);
  background-color: #DFEDD0;
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.c-page-head__heading {
  color: #338751;
  font-size: 2.6875em;
  font-weight: bold;
}
.c-page-head__heading__text {
  color: #338751;
  font-weight: bold;
  margin-left: 8px;
}
.c-page-head__heading__text__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.c-page-head__heading__text__img {
  width: 12px;
  margin-top: -6px;
}
.c-page-contact-inner {
  max-width: 260px;
  margin-left: auto;
  margin-top: -70px;
}
.c-page-contact__img {
  width: 60px;
  height: auto;
  margin: 0 auto;
  margin-bottom: -30px;
  background: #E37940;
  border-radius: 50%;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
}
.c-page-contact__body {
  color: #FFFFFF;
  background-color: #E37940;
  border-radius: 20px;
  padding: 4px;
  margin-right: 20px;
  text-align: center;
}
.c-page-contact__body p {
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding: 20px 0;
  padding-top: 25px;
}
.c-page-contact__body__text:first-child {
  font-family: "Poppins", serif;
  font-size: 22px;
  font-weight: 600;
}
.c-page-contact__body__text:last-child {
  font-size: 0.75rem;
}

.c-email-btn {
  width: 215px;
  background-color: #E37940;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 20px;
}
.c-email-btn-img {
  margin-top: -4px;
}
.c-email-btn-text {
  font-weight: 700;
  letter-spacing: 1px;
}

.c-banner-contact-inner {
  padding: 0 150px;
  padding-top: 150px;
}
.c-banner-contact-block {
  max-width: 1160px;
  margin: 0 auto;
}
.c-banner-contact-block__img {
  width: 150px;
  background-color: #DFEDD0;
  border-radius: 50%;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-banner-contact-block__img img {
  width: 40px;
}
.c-banner-contact-block-body {
  background-color: #DFEDD0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  padding-top: 100px;
  text-align: center;
}
.c-banner-contact-block-body__phoneNumber p {
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 35px;
}
.c-banner-contact-block-body__phoneNumber p:first-child {
  margin-top: 0;
}
.c-banner-contact-block-body__phoneNumber__desc {
  font-size: 1.25rem;
  letter-spacing: 1.6px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.c-banner-contact-block-body__phoneNumber__desc::before, .c-banner-contact-block-body__phoneNumber__desc::after {
  background-color: #2E2E2E;
  content: "";
  height: 1px; /* 線の高さ */
  width: 20px; /* 線の長さ */
}
.c-banner-contact-block-body__phoneNumber__desc::before {
  margin-right: 5px; /* 文字との余白 */
  transform: rotate(60deg); /* 傾ける */
}
.c-banner-contact-block-body__phoneNumber__desc::after {
  margin-left: 5px; /* 文字との余白 */
  transform: rotate(-60deg); /* 傾ける */
}
.c-banner-contact-block-body__phoneNumber__number {
  color: #E37940;
  font-size: 40px;
}
.c-banner-contact-block-body__phoneNumber__text {
  font-size: 0.875rem;
  line-height: 33px;
}
.c-banner-contact-block-body__email {
  margin: 0 auto;
  margin-top: 35px;
}

.c-required {
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 5px;
}
.c-required-text {
  color: #E37940;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

.c-option {
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 5px;
}
.c-option-text {
  color: #338751;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
}

.p-treatment-symptoms__inner {
  max-width: 1160px;
}
.p-treatment-symptoms__block {
  text-align: center;
}
.p-treatment-symptoms__radius__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.p-treatment-symptoms__radius__img {
  width: 102px;
  height: 102px;
  background-color: #338751;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.p-treatment-symptoms__radius__img img {
  width: auto;
}
.p-treatment-symptoms__radius__desc {
  font-weight: bold;
  margin-top: 20px;
}
.p-treatment-symptoms-indication__block {
  background-color: #DFEDD0;
  border-radius: 20px;
  padding: 50px;
  margin-top: 70px;
}
.p-treatment-symptoms-indication__heading {
  text-align: center;
}
.p-treatment-symptoms-indication__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  padding-top: 35px;
}
.p-treatment-symptoms-indication__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.p-treatment-symptoms-indication__item__name {
  font-weight: bold;
}
.p-treatment-equipment {
  padding: 65px 50px;
}
.p-treatment-equipment__block {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 50px 90px;
}
.p-treatment-equipment__heading__text {
  margin-top: 0;
}
.p-treatment-equipment__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
  padding-top: 45px;
}
.p-treatment-equipment__content {
  width: 50%;
}
.p-treatment-equipment__content__flex {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}
.p-treatment-equipment__content__text {
  line-height: 33.6px;
}

.p-money__inner {
  padding: 65px 140px 100px 140px;
}
.p-money-desc {
  font-weight: bold;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: center;
}
.p-money-cards {
  background-color: #F5F4EA;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 35px;
  padding: 35px;
}
.p-money-cards-card {
  width: 530px;
  height: 480px;
  background-image: url(../images/money-card-bg.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 50px 35px;
  position: relative;
}
.p-money-cards-card::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  background-image: url(../images/money-light-icon-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 23px;
  height: 28px;
}
.p-money-cards-card:last-child::after {
  background-image: url(../images/money-light-icon-2.png);
}
.p-money-cards-card__heading {
  color: #338751;
  font-size: 1.5rem;
  font-weight: 700;
}
.p-money-cards-card__content__box {
  padding-top: 35px;
}
.p-money-cards-card__content__heading {
  font-weight: bold;
}
.p-money-cards-card__content__textBox {
  padding-top: 20px;
  letter-spacing: 2px;
  line-height: 33px;
}
.p-money-caution {
  padding-top: 35px;
}
.p-money-caution__heading {
  font-size: 0.875em;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.p-money-caution p {
  font-size: 0.875em;
  letter-spacing: 1.5px;
  line-height: 29.4px;
  margin-top: 20px;
}

.p-contact-body-inner {
  max-width: 565px;
  margin: 0 auto;
}
.p-contact-body__heading {
  color: #338751;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-align: center;
}
.p-contact-body__phoneNumber {
  background-color: #FFFFFF;
  border: 2px solid #338751;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  margin-top: 35px;
}
.p-contact-body__phoneNumber__img {
  max-width: 30px;
  height: auto;
}
.p-contact-body__phoneNumber__text {
  letter-spacing: 0.1em;
}
.p-contact-body__phoneNumber__text p {
  line-height: 30px;
  margin-left: 30px;
}
.p-contact-body__phoneNumber__text p:first-child {
  font-weight: bold;
}
.p-contact-body__phoneNumber__text p:last-child {
  font-size: 0.875rem;
  text-align: center;
}
.p-contact-body__phoneNumber__text p span {
  color: #E37940;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-weight: 600;
}
.p-contact-body__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 40px;
}
.p-contact-body__content__textBox__heading {
  font-weight: bold;
}
.p-contact-body__content__textBox p {
  font-size: 0.75rem;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-top: 20px;
}
.p-contact .p-contact__inner {
  padding: 65px 140px 150px;
}
.p-contact .p-contact__bubble {
  position: relative;
  margin: 1.5em 0;
  padding: 12px 30px;
  max-width: 320px;
  margin: 0 auto;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  background: #FFFFFF;
  border-radius: 20px;
}
.p-contact .p-contact__bubble::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 15px solid #FFFFFF;
}
.p-contact .p-contact__bubble p {
  margin: 0;
  padding: 0;
}
.p-contact .p-contact__heading__desc {
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 35px;
}
.p-contact .p-contact-form {
  background-color: #F5F4EA;
  border-radius: 20px;
  margin-top: 45px;
  padding: 50px;
  padding-bottom: 65px;
}
.p-contact .p-contact-form__form__body {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid rgba(46, 46, 46, 0.2);
}
.p-contact .p-contact-form__form__body__label {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.p-contact .p-contact-form__form__body__label label {
  font-weight: bold;
  letter-spacing: 0.03em;
}
.p-contact .p-contact-form__form__body__input {
  width: 100%;
}
.p-contact .p-contact-form__form__body__input input,
.p-contact .p-contact-form__form__body__input textarea {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-radius: 3px;
  height: 35px;
  padding-left: 10px;
}
.p-contact .p-contact-form__form__body__input textarea {
  height: 165px;
  padding: 10px;
}
.p-contact .p-contact-form__form__body__input span {
  display: block;
  font-size: 0.75rem;
  margin-top: 10px;
}
.p-contact .p-contact-form__form__body__submit {
  width: 214px;
  height: 45px;
  background-color: #E37940;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 75px;
}
.p-contact .p-contact-form__form__body__submit__btn {
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.u-border-bottom {
  border-bottom: 1px solid rgba(46, 46, 46, 0.2);
}/*# sourceMappingURL=styles.css.map */